* {
    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: #000;
}

body,
html {
    height: 100%;
    color: #fff;
    line-height: 1.8;
}

.typewriter {
    margin-left: auto;
    margin-right: auto;
}

.typewriter a {
    text-decoration: none;
}


@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

@media (max-width: 600px) {
    .about-card {
        border-radius: 148px 0 0 0;
    }
    .about-section {
        margin-top: 6px;
    }
    .about-text {
        font-size: 15px;
        margin-top: 32px;
    }
}

@media (min-width: 768px) {
    .about-card {
        border-radius: 148px 0 0 148px;
    }
    .about-section {
        margin-top: 55px;
    }
    .about-text {
        font-size: 18px;
        margin-top: 32px;
    }
}

#mugshot {
    margin-top: 24px;
}

.thumbnail {
    border: 1px solid #000;
}

.contact-title-background {
    background-color: #43C6AC;
}

.dark-grey {
    background-color: #202020;
}

.dark-green-background {
    background-color: #002929;
    color: #fff;
}

.pale-yellow {
    background-color: #F8FFAE;
    color: #000;
}

.emph {
    font-weight: 800;
}

.ital {
    font-style: italic;
}



.sales-page-wrapper {
    background-color: #669999;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-less-wide {
    letter-spacing: 5px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.btn-transparent {
    background: transparent;
}

a.portfolio-link {
    text-decoration: none;
}

.w3-text-signal-orange {
    color: #d4652f;
}

.fp-controlArrow {
    margin: 0 32px 0 32px;
}

@media (max-width: 768px) {
    .fp-controlArrow {
        display: none !important;
    }
}