* {
    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: rgb(255, 204, 0);
}

body,
html {
    height: 100%;
    color: #000;
    /* line-height: 1.8; */
}

.main-wrapper {
    height: 100vh;
    width: 100vh;
}

.hero {
    width: 100%;
    margin-right: 100%;
    margin-left: 100%;
}

.title,
.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h4 {
    margin: 0;
}
