/* Portfolio detail pages */

* {
  font-family: 'acumen-pro', sans-serif;
}

body {
  background-color: #f8f8f8;
  color: #000;
  margin: 0;
}

header .header-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #000;
  transition: all ease-in-out 250ms;
  z-index: 10;
}

.header-title a {
  text-decoration: none;
  outline: none;
  color: #FFF;
  font-size: 1.5rem;
  margin-left: 30px;
}

.header-menu {
  margin-right: 30px;
}

.header-menu-item a {
  text-decoration: none;
  color: #FFF;
  outline: none;
  margin-right: 10px;
}

a.link-btn-white {
  display: block;
  text-decoration: none;
  outline: none;
  height: 40px;
  border-radius: 30px;
  width: fit-content;
  padding: 7px 30px;
  margin-top: 30px;
  transition: all ease-in-out 250ms;
  background-color: #f8f8f8;
  border: 1px solid #000;
  color: #000;
}

a.link-btn-white:hover {
  background-color: #000;
  border: 1px solid #fff;
}

a.link-btn-white:hover span {
  color: #fff;
}

a.link-btn-black {
  display: block;
  text-decoration: none;
  outline: none;
  height: 40px;
  border-radius: 30px;
  width: fit-content;
  padding: 7px 30px;
  margin-top: 30px;
  transition: all ease-in-out 500ms;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}

a.link-btn-black:hover {
  background-color: #f8f8f8;
  border: 1px solid #000;
}

a.link-btn-black:hover span {
  color: #000;
}

a.link-btn-white span,
a.link-btn-black span {
  line-height: 40px;
}

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000;
}

.footer-menu ul {
  list-style-type: none;
  margin-top: 50px;
}

.footer-menu li {
  margin-bottom: 25px;
}

.footer-menu-item a {
  text-decoration: none;
  outline: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.footer-copyright {
  margin-top: 75px;
  padding-left: 40px;
}

#copyright-date {
  color: #fff;
  font-size: 1.15rem;
}

#portfolio-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-title {
  font-size: 5rem;
  margin-bottom: 0;
}

.portfolio-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px 60px;
}

.portfolio-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-grid-item-img img {
  max-height: 330px;
  width: 100%;
}